[Unit]
Description=QuinTet's distributed currency daemon
After=network.target

[Service]
User=quintet
Group=quintet

Type=forking
PIDFile=/var/lib/quintetd/quintetd.pid

ExecStart=/usr/bin/quintetd -daemon -pid=/var/lib/quintetd/quintetd.pid \
          -conf=/etc/quintet/quintet.conf -datadir=/var/lib/quintetd

ExecStop=-/usr/bin/quintet-cli -conf=/etc/quintet/quintet.conf \
         -datadir=/var/lib/quintetd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
